@import "tailwindcss";

@keyframes borderFade {
    from {border-color: #9f1239}
    to {border-color: #ffffff}
}

@font-face {
    font-family: paintbrush;
    src: url("assets/SuperShiny-0v0rG.ttf") format("truetype");
    font-style: normal;
}

@theme {
    --font-paintbrush: "paintbrush", "sans-serif";
    --animate-fade: borderFade 1s forwards;
}